html{
    scroll-behavior: smooth;
}

body{
    background-image: url('pictures/Yachat_at_night.jpeg');
    /* background-size: auto; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

.centered-content {
    text-align: center;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#greeting {
    color:hsl(0, 100%, 99%);    
}

a:hover{
    border-bottom: 1px solid;
    color: #0e0d0d !important;
    text-shadow: 0px opx 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

a:link{
    color:hsl(0, 100%, 99%);
    border-bottom: 1px solid;

}

p{
    color:hsl(0, 100%, 99%);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;;
    background-color: #0c0808bb;
    color: #fff;
    text-align: center;
}

.centerMenu{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;

}

.scrollContainer{
    overflow-x: auto;
}


.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    /* flex: 25%; */
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* @media screen and (max-width: 800px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
} */