body {
    background-color: #1d3a5e;
    padding-top: 70px;
 }

p, h3, h4, h1{
    color:hsl(0, 100%, 99%);
}

/* p {
    text-align: center;
    font-size: 15px;
} */

/* Setting wrapper to full viewpoint */
/* .wrapper{
    height: 100vh;
} */

.img-circle{
    border-radius: 100%;
}

.intro-text {
    text-align: center;
}

.cvBtn {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.navbar{
    overflow: hidden;
}

.navbar a {
    padding: 14px 16px;
    text-decoration: none;
    color: white !important;
}

.navbar a:hover{
    color: rgba(255, 255, 255, 0.404)!important;
}

.container-more-info {
    text-align: center;
    color: white;
    
}

/* .container-intro{
    padding: 0 20px;
} */
/* 
*{
    box-sizing: border-box;
}

.row-gallery{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 10px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px){
    .column{
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px){
    .column{
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
} */

